{% extends './_/layout/extend/noStickyNav' %} 
{% set defaultImg = craft.app.config.custom.defaultImgUrl %}
{% set image = entry.postImage.one() ? entry.postImage.one().url : defaultImg %}

{% block header %}
    <div class="wrapper integrations-details-wrapper">
        <div class="integration-name-wrapper">
            <h6 class="subheading">{{ craft.app.request.getSegment(2) == 'microsoft-teams' or craft.app.request.getSegment(2) == 'teams-macht-schule' ? 'Microsoft Teams' : 'Microsoft 365/Office' }}</h6>
        </div>
        <div class="integration-heading-wrapper">
            <h1 class="integrations-hero-heading template">{{ entry.postBanner.headline }}</h1>
        </div>
        <div class="integration-detail-about">{{ entry.postBanner.shortText }}</div>
        <div class="integration-details-bottom">
            <div class="integration-logo"><img src="{{ image }}" loading="lazy" alt="" class="integration-image"></div>
            <a href="{{ entry.postBanner.buttonUrl }}" target="_blank"
               class="integration-button top w-inline-block"><img
                        src="{{ siteUrl }}assets/images/Icon-3.svg" loading="lazy" width="13" alt=""
                        class="integration-card-link-icon details-page">
                <div>{{ entry.postBanner.buttonUrl ? entry.postBanner.buttonUrl.getCustomText() : 'Jetzt lesen' }}</div>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="integrations-detail-content wf-section">
        <div class="integartions-detail-wrapper">
            <div data-w-id="e21e9b13-eb55-a469-85da-878c1db6079a" class="sticky-detail-section">
                <div class="progress-bar">
                    <div class="progress-bar-grey-line">
                        <div class="progress-bar-blue-line"></div>
                    </div>
                    {% for block in entry.contentPost.all() %}
                        {% if block.type == 'items' %}
                            <a href="#{{ block.titleText }}" class="progress-bar-item w-inline-block">
                                <div>{{ block.titleText }}</div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="detail-rich-text">
                    <div class="integration-content w-richtext">
                        {% for block in entry.contentPost.all() %}
                            {% if block.type == 'items' %}
                                <h4 id="{{ block.titleText }}">{{ block.titleText }}</h4>
                                {{ block.descriptions|raw }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if entry.button != '' %}
                        <a href="{{ entry.button }}" target="_blank" class="integration-button w-inline-block"><img
                                    src="{{ siteUrl }}assets/images/Icon-3.svg" loading="lazy" width="13" alt=""
                                    class="integration-card-link-icon details-page">
                            <div>{{ entry.button.getCustomText() }}</div>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% include('_/components/mostPopularSection') %}
{% include('_/components/ctaSection') %}

{% endblock %}
