{% extends './_/layout/extend/withStickyNav' %}
{% set defaultImg = craft.app.config.custom.defaultImgUrl %}
{% set image = entry.postImage.one() ? entry.postImage.one().url : defaultImg %}
{% set author = entry.authorEntry.one() ?? '' %}
{% set authImg = author.authorImage.one().url ?? defaultImg %}

{% block header %}
    <div class="wrapper blog-post-hero-wrapper">
        <div class="blog-post-hero-inside-wrapper">
            <h6 class="subheading">{{ entry.blogCategory.one() ? entry.blogCategory.one().title }}</h6>
            <h1 class="blog-post-heading">{{ entry.postHeadline|default(entry.title) }}</h1>
            <div class="blog-date-and-time">
                <div>{{ entry.postDate | date("M d, Y") }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper blog-post-image-wrapper">
        <img src="{{ image }}" loading="lazy" alt="" class="image"/>
    </div>
    <div class="blog-post-rich-text-section wf-section">
        <div class="wrapper blog-post-rich-text-wrapper">
            <div class="rich-text w-richtext">
                {{ entry.postRichText | raw }}
            </div>
            <div class="blog-post-author-and-social">
                <div class="blog-post-author">
                    <div class="blog-post-author-image">
                        <img src="{{ authImg }}" loading="lazy" alt="" class="image"/>
                    </div>
                    <div class="blog-author-right">
                        <div class="blog-author-written-by">Geschrieben von</div>
                        <h4>{{ author.authorName }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-id="3ec7a4e1-32d8-2975-6a88-bcaa5cdd4043" class="blog-similar-post-section wf-section">
        <div data-w-id="3ec7a4e1-32d8-2975-6a88-bcaa5cdd4044" class="wrapper blog-similar-post-wrapper">
            <h2 class="similar-blog-post-heading">Weitere Beiträge</h2>
            <div>Insights und Neuigkeiten rund um Microsoft 365.</div>
        </div>
    </div>

    {% include('_/components/ctaSection') %}
{% endblock %}
