<div class="footer wf-section">
  <div class="wrapper footer-wrapper">
    <div class="footer-up">
      <div id="w-node-fb836dff-5d61-e13c-158a-541fc0d723fb-c0d723f8" data-w-id="fb836dff-5d61-e13c-158a-541fc0d723fb" class="footer-logo-and-subscribe">
        <a href="{{ siteUrl }}" aria-current="page" class="footer-logo w-inline-block w--current"><img src="{{siteUrl}}assets/images/cloud4success_logo-w.svg" loading="lazy" alt="" /></a>
        <div class="footer-text">Wir steigern die Produktivität und verbessern die Zusammenarbeit in einer digitalen Welt.</div>
      </div>
      <div id="w-node-_5f3be92f-f616-ff4b-618c-116d98c32f76-c0d723f8" class="footer-links-container">
        <div class="footer-links-row">
          <a href="{{ siteUrl }}" aria-current="page" class="footer-link w--current">Home</a>
          <a href="{{ craft.entries().section('softwareOverview').one().url }}" class="footer-link">Microsoft 365</a>
          <a href="{{  craft.entries.section('softwarePost').slug('microsoft-teams').one().url|default('#') }}" class="footer-link">Microsoft Teams</a>
          <a href="{{  craft.entries.section('modernWorkplace').one().url|default('#') }}" class="footer-link">Modern Workplace</a>
          <a href="{{  craft.entries.section('storiesOverview').one().url|default('#') }}" class="footer-link">Success Stories</a>
          <a href="{{  craft.entries.section('blogOverview').one().url|default('#') }}" class="footer-link">Blog</a>
          <a href="{{  craft.entries.section('karriereOverview').one().url|default('#') }}" class="footer-link">Karriere</a>
        </div>
        <div class="footer-links-row">
          {% set softwareList = craft.entries().section('softwarePost').limit(7).all() %}
          {% for list in softwareList %}
            <a href="{{ list.url }}" class="footer-link">{{ list.title }}</a>
          {% endfor %}
        </div>
        <div id="w-node-fb836dff-5d61-e13c-158a-541fc0d72420-c0d723f8" class="footer-links-row">
          <a href="{{  craft.entries.section('impressumDatenschutz').one().url|default('#') }}" class="footer-link">Impressum</a>
          <a href="{{  craft.entries.section('impressumDatenschutz').one().url|default('#') }}" class="footer-link">Datenschutz</a>
          <a href="{{  craft.entries.section('support').one().url|default('#') }}" class="footer-link">Support</a>
          <a href="{{  craft.entries.section('contact').one().url|default('#') }}" class="footer-link">Kontakt</a>
        </div>
      </div>
    </div>
    <div class="footer-down">
      <div>© <span class="current-year">2022</span> - Website von <a href="https://formatzwei.de/" target="_blank" class="footer-link down"> Formatzwei®</a></div>
      <div class="footer-social-icons-container">
        <a href="https://www.linkedin.com/company/cloud4success-gmbh/" target="_blank" class="blog-social-item w-inline-block"><img src="{{siteUrl}}assets/images/Group-27.svg" loading="lazy" alt="" /></a>
      </div>
    </div>
  </div>
</div>
