{% set softwareList = craft.entries().section('softwarePost').limit(9).all() %}
{% set defaultImg = craft.app.config.custom.defaultImgUrl %}
<div class="main-navigations-container">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
         role="banner" class="navigation w-nav">
        <div class="wrapper navigation-wrapper">
            <div class="navigation-left">
                <a href="{{ siteUrl }}" aria-current="page" class="navbar-brand w-nav-brand w--current"><img
                            src="{{ siteUrl }}/assets/images/cloud4success_logo.svg" loading="lazy" alt=""
                            class="image contain"/></a>
            </div>
            <div class="navigation-center">
                <nav role="navigation" class="navigation-menu w-nav-menu">
                    <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
                        <div class="dropdown-toggle w-dropdown-toggle">
                            <a href="{{ craft.entries().section('softwareOverview').one().url }}" class="nav-link without w-inline-block">
                                <div>Microsoft 365</div>
                            </a>
                            <div class="dropdown-arrow w-icon-dropdown-toggle"></div>
                        </div>
                        <nav class="dropdown-list w-dropdown-list">
                            <div class="dropdown-list-full-wrapper">
                                <div class="navigation-drop-container features pages">
                                    <div class="visual-features-items-container nav pages">
                                        {% for list in softwareList|slice(0,4) %}
                                            {% set image = list.postImage.one() ? list.postImage.one().url : defaultImg %}
                                            <a href="{{ list.url }}" id="w-node-d513ed56-46c8-b398-8156-c31d0563ca11-46355082"
                                               class="visual-features-item navbar horizontal w-inline-block">
                                                <div class="visual-features-item-image pages"><img
                                                            src="{{ image }}"
                                                            loading="lazy" alt="" class="image-3"/></div>
                                                <div class="heading-and-text-contain">
                                                    <h5>{{ list.title }}</h5>
                                                    <div>{{ list.postBanner.shortText|truncate(30) }}</div>
                                                </div>
                                            </a>
                                        {% endfor %}

                                        <a id="w-node-a0306308-e6ab-150e-de34-3b82c64cb00e-46355082"
                                           href="{{ craft.entries().section('softwareOverview').one().url }}"
                                           class="button dropdown custom w-button">Alle anzeigen</a>
                                    </div>
                                    <div class="right-side-links">
                                        <h5 class="navigation-heading">Weitere Apps</h5>
                                        {% for list in softwareList|slice(4,9) %}
                                            <a href="{{ list.url }}" class="visual-features-item navbar right-link w-inline-block">
                                                <div>{{ list.title }}</div>
                                            </a>
                                        {% endfor %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <a href="{{  craft.entries.section('softwarePost').slug('microsoft-teams').one().url|default('#') }}" class="nav-link w-nav-link">Microsoft Teams</a>
                    <a href="{{  craft.entries.section('storiesOverview').one().url|default('#') }}" class="nav-link w-nav-link">Success Stories</a>
                    <a href="{{  craft.entries.section('blogOverview').one().url|default('#') }}" class="nav-link w-nav-link">Blog</a>
                    <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
                        <div class="dropdown-toggle w-dropdown-toggle">
                            <div>Unternehmen</div>
                            <div class="dropdown-arrow w-icon-dropdown-toggle"></div>
                        </div>
                        <nav class="dropdown-list blog w-dropdown-list">
                            <div class="dropdown-list-full-wrapper">
                                <div class="navigation-drop-container features pages">
                                    <div class="visual-features-items-container nav pages">
                                        <a href="{{  craft.entries.section('support').one().url|default('#') }}"
                                           id="w-node-c55b9eff-a0d7-801b-737f-42641eb58291-46355082"
                                           class="visual-features-item navbar horizontal w-inline-block">
                                            <div class="visual-features-item-image pages"><img
                                                        src="{{ siteUrl }}/assets/images/icon_support.svg"
                                                        loading="lazy" alt="" class="image-3"/></div>
                                            <div class="heading-and-text-contain">
                                                <h5>Support</h5>
                                                <div>Schnelle Hilfe</div>
                                            </div>
                                        </a>
                                        <a href="{{  craft.entries.section('contact').one().url|default('#') }}"
                                           id="w-node-c55b9eff-a0d7-801b-737f-42641eb58299-46355082"
                                           class="visual-features-item navbar horizontal w-inline-block">
                                            <div class="visual-features-item-image pages"><img
                                                        src="{{ siteUrl }}/assets/images/icon_contact.svg"
                                                        loading="lazy" alt="" class="image-3"/></div>
                                            <div class="heading-and-text-contain">
                                                <h5>Kontakt</h5>
                                                <div>So erreichen Sie uns</div>
                                            </div>
                                        </a>
                                        <a href="{{  craft.entries.section('karriereOverview').one().url|default('#') }}"
                                           id="w-node-c55b9eff-a0d7-801b-737f-42641eb582a1-46355082"
                                           class="visual-features-item navbar horizontal w-inline-block">
                                            <div class="visual-features-item-image pages"><img
                                                        src="{{ siteUrl }}/assets/images/icon_people.svg" loading="lazy"
                                                        alt=""/></div>
                                            <div class="heading-and-text-contain">
                                                <h5>Karriere</h5>
                                                <div>Gemeinsam in die Zukunft</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="right-side-links">
                                        <h5 class="navigation-heading">Weitere Links</h5>
                                        <a href="{{  craft.entries.section('softwarePost').slug('teams-macht-schule').one().url|default('#') }}"
                                           class="visual-features-item navbar right-link w-inline-block">
                                            <div>Teams macht Schule</div>
                                        </a>
                                        <a href="{{  craft.entries.section('beratung').one().url|default('#') }}"
                                           class="visual-features-item navbar right-link w-inline-block">
                                            <div>Beratung</div>
                                        </a>
                                        <a href="{{  craft.entries.section('impressumDatenschutz').one().url|default('#') }}"
                                           class="visual-features-item navbar right-link w-inline-block">
                                            <div>Datenschutz</div>
                                        </a>
                                        <a href="{{  craft.entries.section('impressumDatenschutz').one().url|default('#') }}"
                                           class="visual-features-item navbar right-link w-inline-block">
                                            <div>Impressum</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <a href="#" class="nav-link login-mob w-nav-link">Log In</a>
                    <a href="#" class="button navigation-button mobile w-button">Sign Up</a>
                </nav>
            </div>
            <div class="navigation-right">
                <a href="{{  craft.entries.section('contact').one().url|default('#') }}" class="button navigation-button w-button">Kontakt</a>
                <div class="menu-button-mob w-nav-button"><img src="{{ siteUrl }}/assets/images/Group-90.svg"
                                                               loading="lazy" alt="" class="image nav-icons"/></div>
            </div>
        </div>
    </div>
</div>
