{% extends './_/layout/extend/noStickyNav' %}
{% set defaultImg = craft.app.config.custom.defaultImgUrl %}

{% block header %}

    <div data-w-id="dfc54cd4-4b94-e522-8665-11a76a70e62f" class="wrapper">
        <div class="demo-left-text-contain">
            <h6 class="subheading">Beratungsgespräch</h6>
            <h1 class="review-hero-heading">Unverbindlich beraten lassen</h1>
            <div class="review-hero-paragraph">Buchen Sie unkompliziert ein unverbindliches Beratungsgespräch.</div>
            <div class="home-features-pointer-item">
                <div class="home-features-pointer-icon"><img src="{{siteUrl}}assets/images/Group-11.svg" loading="lazy" alt=""
                                                             class="image contain"></div>
                <div><span class="bold-text-span black">Unverbindlich </span>Wir sprechen gemeinsam über die
                    Möglichkeiten für Ihr Unternehmen.
                </div>
            </div>
            <div class="home-features-pointer-item">
                <div class="home-features-pointer-icon"><img src="{{siteUrl}}assets/images/Group-11.svg" loading="lazy" alt=""
                                                             class="image contain"></div>
                <div><span class="bold-text-span black">Kostenfrei </span>Das Erstgespräch ist für Sie
                    selbstverständlich kostenfrei.
                </div>
            </div>
            <div class="home-features-pointer-item">
                <div class="home-features-pointer-icon"><img src="{{siteUrl}}assets/images/Group-11.svg" loading="lazy" alt=""
                                                             class="image contain"></div>
                <div><span class="bold-text-span black">Zielführend </span>In dem Gespräch loten wir die Ziele und
                    Möglichkeiten aus.
                </div>
            </div>
        </div>
        <div class="demo-form-contain">
            <div class="demo-form-block">
                <div class="w-embed w-iframe">
                    <iframe src="https://outlook.office365.com/owa/calendar/cloud4successGmbH1@cloud4success.de/bookings/"
                            style="width: 100%; min-height: 500px; border: none;"></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="faqs-section wf-section">
        <div class="wrapper-1200px faqs">
            <div class="faqs-text-wrap">
                <div class="faqs-text-wrapper">
                    <h6 class="subheading">Workshops</h6>
                    <h2 class="h2-heading">Zusammen in die Zukunft.</h2>
                    <p class="faq-paragraph">Nach der Erstberatung können wir gemeinsam in einem Workshop das weitere Vorgehen besprechen.</p>
                </div>
            </div>
            <div class="faqs-wrapper">
                <div class="faq-card">
                    <div class="faq-question-container">
                        <div class="faq-question-wrapper">
                            <div class="faq-questions">Workshop Modern Workplace <br>Hybride Teamarbeit mit Microsoft 365<br></div><img src="{{siteUrl}}assets/images/icon_plus.svg" loading="lazy" alt="" class="faq-icon">
                        </div>
                    </div>
                    <div class="faq-answer-wrap">
                        <p class="faq-content">Ihre Teammitglieder arbeiten an verschiedenen Arbeitsorten und müssen aber dennoch kollaborieren und kommunizieren? Wir befähigen Ihr Unternehmen zu maximaler Performance in hybriden Teams.</p>
                    </div>
                    <div class="bottom-line"></div>
                </div>
                <div class="faq-card">
                    <div class="faq-question-container">
                        <div class="faq-question-wrapper">
                            <div class="faq-questions">Workshop Deployment<br></div><img src="{{siteUrl}}assets/images/icon_plus.svg" loading="lazy" alt="" class="faq-icon">
                        </div>
                    </div>
                    <div class="faq-answer-wrap">
                        <p class="faq-content">Wir machen Ihre bestehende IT-Infrastruktur startklar für die Cloud und schaffen die technischen Voraussetzungen für einen Modern Workplace.</p>
                    </div>
                    <div class="bottom-line"></div>
                </div>
                <div class="faq-card">
                    <div class="faq-question-container">
                        <div class="faq-question-wrapper">
                            <div class="faq-questions">Workshop Microsoft Teams<br></div><img src="{{siteUrl}}assets/images/icon_plus.svg" loading="lazy" alt="" class="faq-icon">
                        </div>
                    </div>
                    <div class="faq-answer-wrap">
                        <p class="faq-content">Wir setzen mit Ihnen Ihre Microsoft Teams Umgebung strategisch auf. Zielsetzung ist es, dass hybride Teams bestmöglichst und effizient in einem digitalen Hub arbeiten können.</p>
                    </div>
                    <div class="bottom-line"></div>
                </div>
                <div class="faq-card">
                    <div class="faq-question-container">
                        <div class="faq-question-wrapper">
                            <div class="faq-questions">Workshop Business Cases<br></div><img src="{{siteUrl}}assets/images/icon_plus.svg" loading="lazy" alt="" class="faq-icon">
                        </div>
                    </div>
                    <div class="faq-answer-wrap">
                        <p class="faq-content">Welche unternehemensindividuelle Anforderungen haben Sie an eine Kommunikations- und Kollaborationsplattform? Profitieren Sie von unserem strategischen Ansatz, mit dem wir Ihre Anwendungsfälle transformieren.</p>
                    </div>
                    <div class="bottom-line"></div>
                </div>
                <div class="faq-card">
                    <div class="faq-question-container">
                        <div class="faq-question-wrapper">
                            <div class="faq-questions">Workshop Collaboration<br></div><img src="{{siteUrl}}assets/images/icon_plus.svg" loading="lazy" alt="" class="faq-icon">
                        </div>
                    </div>
                    <div class="faq-answer-wrap">
                        <p class="faq-content">Wir entwickeln mit Ihnen eine moderne und digitale Kommunikationsstrategie. Profitieren Sie von einer nachhaltigen Kommunikation innerhalb der Teams sowie über die Abteilungen hinaus.</p>
                    </div>
                    <div class="bottom-line"></div>
                </div>
                <div class="faq-card">
                    <div class="faq-question-container">
                        <div class="faq-question-wrapper">
                            <div class="faq-questions">Workshop Teams Meet&amp;Call<br></div><img src="{{siteUrl}}assets/images/icon_plus.svg" loading="lazy" alt="" class="faq-icon">
                        </div>
                    </div>
                    <div class="faq-answer-wrap">
                        <p class="faq-content">Medienbrüche sind lästig. Mit der Integration von hybriden Formaten gehen Meetings nahtlos in den Arbeitsalltag über. Zudem beraten wir Sie gerne, wie Sie Ihre geschäftliche Festnetztelefonie in Microsoft Teams integrieren.</p>
                    </div>
                    <div class="bottom-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-2-section wf-section">
        <div class="wrapper features-2-wrapper">
            <div class="home-features-2-up">
                <h6 class="home-features-subheading">Kundenstimmen</h6>
                <h2 data-w-id="0af007c7-43f2-f1b3-439f-bac072ef7bd6" class="white home-features-heading">Wir geben unser Bestes.</h2>
                <div data-w-id="0af007c7-43f2-f1b3-439f-bac072ef7bd8" class="white">Gemeinsam haben wir die Wettbewerbsfähigkeit unserer Kunden gesteigert und erfolgreich in die digitale Welt transformiert.</div>
            </div>
            <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                <div class="mask w-slider-mask">
                    <div class="testimonial-slide w-slide">
                        <div class="testimonial-slide-contain"><img src="{{siteUrl}}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image">
                            <h4 class="testimonial-title">So geht Zusammenarbeit heute.</h4>
                            <div class="testimonial-text">“Mit der cloud4success GmbH haben wir einen kompetenten Partner an unserer Seite, der uns hervorragend unterstützt.”</div>
                            <div class="testimonial-info-contain"><img src="{{siteUrl}}assets/images/image_testimonial.png" loading="lazy" alt="" class="testimonial-images">
                                <div class="testimonial-about">
                                    <h5 class="testimonial-name">Alexander Neubert</h5>
                                    <div class="testimonial-position">Geschäftsführer blackspace GbR</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-slide w-slide">
                        <div class="testimonial-slide-contain"><img src="{{siteUrl}}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image">
                            <h4 class="testimonial-title">Zusammenarbeit auf einem neuen Level!</h4>
                            <div class="testimonial-text">“Mit der Einführung von Microsoft Teams Rooms hat uns die cloud4success GmbH als exzellenter Partner in allen Bereichen unterstützt und befähigt uns nun noch besser &amp; individueller mit unseren Mandanten in Kontakt zu treten.”</div>
                            <div class="testimonial-info-contain"><img src="{{siteUrl}}assets/images/simon_ruckdeschel.png" loading="lazy" alt="" class="testimonial-images">
                                <div class="testimonial-about">
                                    <h5 class="testimonial-name">Simon Ruckdeschel</h5>
                                    <div class="testimonial-position">Geschäftsführer KRP GmbH &amp; Co.KG</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-slide w-slide">
                        <div class="testimonial-slide-contain"><img src="{{siteUrl}}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image">
                            <h4 class="testimonial-title">Zeit für das Wesentliche.</h4>
                            <div class="testimonial-text">“Medienbrüche sind lästig! Die cloud4success GmbH als kompetenter Partner an unserer Seite ermöglichte es uns Arbeitsabläufe zu automatisieren und somit Fehlerquellen zu minimieren.”</div>
                            <div class="testimonial-info-contain"><img src="{{siteUrl}}assets/images/detlev-beaa.png" loading="lazy" alt="" class="testimonial-images">
                                <div class="testimonial-about">
                                    <h5 class="testimonial-name">Detlev Beaa</h5>
                                    <div class="testimonial-position">Geschäftsführer Sanoro Tierbedarf GmbH</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-slide w-slide">
                        <div class="testimonial-slide-contain"><img src="{{siteUrl}}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image">
                            <h4 class="testimonial-title">Globale Zusammenarbeit at its best.</h4>
                            <div class="testimonial-text">“Zum weiteren Ausbau unserer globalen Teams Enterprise Voice Infrastruktur, sowohl Software- als auch Hardwareseitig wissen wir die cloud4success GmbH als kompetenten Partner sehr zu schätzen!”</div>
                            <div class="testimonial-info-contain"><img src="{{siteUrl}}assets/images/ralph-klingler.png" loading="lazy" alt="" class="testimonial-images">
                                <div class="testimonial-about">
                                    <h5 class="testimonial-name">Ralph Klinger</h5>
                                    <div class="testimonial-position">Team Lead Enterprise Voice Munich Re Münchener Rückversicherungs-Gesellschaft</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-slide w-slide">
                        <div class="testimonial-slide-contain"><img src="{{siteUrl}}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image">
                            <h4 class="testimonial-title">Alte Strukturen aufbrechen, um neue Möglichkeiten zu schaffen!</h4>
                            <div class="testimonial-text">“Die cloud4success GmbH unterstützt uns als starken Partner bei der Transition von der herkömmlichen TK-Anlage komplett zu Microsoft Teams als Enterprise Voice Lösung. Ganz besonders schätzen wir hier die Automatisierungs-Kompetenz der cloud4success GmbH.”</div>
                            <div class="testimonial-info-contain"><img src="{{siteUrl}}assets/images/michaela-fenger.png" loading="lazy" alt="" class="testimonial-images">
                                <div class="testimonial-about">
                                    <h5 class="testimonial-name">Michaela Fenger</h5>
                                    <div class="testimonial-position">Head of Active Directory &amp; Collaboration bei Vattenfall Europe Information Services GmbH</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-slide w-slide">
                        <div class="testimonial-slide-contain"><img src="{{siteUrl}}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image">
                            <h4 class="testimonial-title">Starke IT-Betreuung, die ihresgleichen sucht.</h4>
                            <div class="testimonial-text">“Mit der cloud4success GmbH haben wir einen kompetenten Partner, welcher uns in jeglicher Belange eines Mittelständisches im Maschinenbau unterstützt.”</div>
                            <div class="testimonial-info-contain"><img src="{{siteUrl}}assets/images/stefan-magdt.png" loading="lazy" alt="" class="testimonial-images">
                                <div class="testimonial-about">
                                    <h5 class="testimonial-name">Stefan Magdt</h5>
                                    <div class="testimonial-position">Geschäftsführer kama Maschinenbau GmbH</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-left w-slider-arrow-left"></div>
                <div class="testimonial-right w-slider-arrow-right"></div>
                <div class="slide-nav-2 w-slider-nav w-round"></div>
            </div>
        </div>
    </div>
    <div class="feature-4-section homepage-3 section wf-section">
        <div class="wrapper feature-4-wrapper">
            <div class="feature-4-left">
                <h6 data-w-id="05a9b259-f112-0ad6-f2fb-deaede3a0188" class="subheading">Cloud? Klar!</h6>
                <h2 data-w-id="05a9b259-f112-0ad6-f2fb-deaede3a018a" class="h2-60-px">Mehr als gute Gründe.</h2>
                <div data-w-id="05a9b259-f112-0ad6-f2fb-deaede3a018c" class="features-4-text">Die Herausforderung einer modernen Arbeitsumgebung spiegeln sich auch in der Wahl der passenden Softwarelösung wieder. Warum also nicht auf den Anbieter setzen, der universell und einfach in bestehende Prozesse integriert werden kann?</div>
            </div>
            <div class="pointer-grid">
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_devices.svg" loading="lazy" alt="" class="pointer-icon">
                    <div class="feature-text-download">Greifen Sie unterwegs auf Daten zu.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_safe.svg" loading="lazy" alt="" class="pointer-icon">
                    <div>Ihre Daten sind sicher.Sehr sicher.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_save.svg" loading="lazy" alt="" class="pointer-icon">
                    <div class="feature-text-download">Sparen Sie Betriebskosten unnötiger Infrastruktur.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_sync.svg" loading="lazy" alt="" class="pointer-icon">
                    <div>Immer und überall die neuesten Versionen.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_chat.svg" loading="lazy" alt="" class="pointer-icon">
                    <div>Jederzeit in Verbindung bleiben.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_person.svg" loading="lazy" alt="" class="pointer-icon">
                    <div>Unkompliziert und sicher Freigeben.</div>
                </div>
            </div>
        </div>
    </div>

    {% include('_/components/blogModule') %}

    {% include('_/components/ctaSection') %}

{% endblock %}
