{% extends './_/layout/extend/withStickyNav' %}
{% set defaultImg = craft.app.config.custom.defaultImgUrl %}
{% set image = entry.postImage.one() ? entry.postImage.one().url : defaultImg %}

{% block header %}
<div class="wrapper blog-post-hero-wrapper">
  <div class="blog-post-hero-inside-wrapper">
    <h6 class="subheading">{{entry.postCompany.one() ? entry.postCompany.one().title}}</h6>
    <h1 class="blog-post-heading">{{entry.postHeadline|default(entry.title)}}</h1>
    <div class="blog-date-and-time">
      <div>{{entry.postShortText}}</div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="wrapper blog-post-image-wrapper">
  <img src="{{ image }}" loading="lazy" alt="" class="image" />
</div>
<div class="blog-post-rich-text-section wf-section">
  <div class="wrapper blog-post-rich-text-wrapper">
    <div class="rich-text w-richtext">
      {{ entry.postRichText | raw }}  
    </div>
  </div>
</div>
<div data-w-id="3ec7a4e1-32d8-2975-6a88-bcaa5cdd4043" class="blog-similar-post-section wf-section">
  <div data-w-id="3ec7a4e1-32d8-2975-6a88-bcaa5cdd4044" class="wrapper blog-similar-post-wrapper">
    <h2 class="similar-blog-post-heading">Weitere Beiträge</h2>
    <div>Insights und Neuigkeiten rund um Microsoft 365.</div>
  </div>
</div>
<div data-w-id="e24198af-e58a-7a89-eea7-c161b2413bdd" class="cta-section wf-section">
  <div class="wrapper cta-wrapper">
    <h2 class="white cta-heading">Jetzt Beratungsgespräch vereinbaren.</h2>
    <div class="cta-text">Wir beraten Sie gerne.</div>
    <a data-w-id="f9006a9b-848a-7c05-659e-8b1938604dce" href="unternehmen/beratung-workshop.html" class="button cta-button margintop w-button">Termin aussuchen</a>
    <div class="cta-pointers-container">
      <div class="cta-pointer-item first">
        <img src="images/Group-24.svg" loading="lazy" alt="" class="cta-pointer-checkmark" />
        <div class="white">Unverbindlich</div>
      </div>
      <div class="cta-pointer-item">
        <img src="images/Group-24.svg" loading="lazy" alt="" class="cta-pointer-checkmark" />
        <div class="white">Kostenfrei</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
