{% extends './_/layout/extend/withStickyNav' %}
{% block header %}

    <div class="wrapper about-hero-up">
        <h6 data-w-id="3b99029e-1164-11f3-b1fc-8b8535f30135" style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="subheading">Modern Workplace</h6>
        <h1 data-w-id="331bb274-1aec-0c43-8dd3-47a78eba7a99" style="opacity:0;-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="modern-hero-heading">Überall zusammen arbeiten.</h1>
        <div data-w-id="7f7f1776-6213-bb84-13a1-31f5032fa871" style="opacity:0;-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="about-hero-text">Der Arbeitsplatz von heute ist nicht mehr nur der Schreibtisch im Büro. Wir zeigen wie es geht.</div>
    </div>

{% endblock %}

{% block content %}

    <div class="about-images-section wf-section">
        <div class="wrapper about-images-wrapper">
            <div data-w-id="b47a0694-450b-2c68-7cf1-f1fa6a920903" style="opacity:0;-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="about-image"><img src="{{siteUrl}}assets/images/image_workplace1.jpg" loading="lazy" sizes="(max-width: 767px) 90vw, (max-width: 1919px) 22vw, 332.79296875px" srcset="{{siteUrl}}assets/images/image_workplace1-p-500.jpeg 500w, {{siteUrl}}assets/images/image_workplace1.jpg 580w" alt="" class="image"></div>
            <div data-w-id="21e9c4b3-504d-87d8-1a9b-cc3ea5e1c6dc" style="opacity:0;-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="about-image"><img src="{{siteUrl}}assets/images/image_workplace2.jpg" loading="lazy" sizes="(max-width: 767px) 90vw, (max-width: 1279px) 38vw, (max-width: 1919px) 39vw, 582.412109375px" srcset="{{siteUrl}}assets/images/image_workplace2-p-500.jpeg 500w, {{siteUrl}}assets/images/image_workplace2-p-800.jpeg 800w, {{siteUrl}}assets/images/image_workplace2-p-1080.jpeg 1080w, {{siteUrl}}assets/images/image_workplace2.jpg 1240w" alt="" class="image"></div>
            <div data-w-id="6015adbd-9d97-8948-fce6-77763cc036c2" style="opacity:0;-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="about-image"><img src="{{siteUrl}}assets/images/image_workplace3.jpg" loading="lazy" sizes="(max-width: 767px) 90vw, (max-width: 1919px) 22vw, 332.802734375px" srcset="{{siteUrl}}assets/images/image_workplace3-p-500.jpeg 500w, {{siteUrl}}assets/images/image_workplace3.jpg 580w" alt="" class="image"></div>
        </div>
    </div>
    <div class="about-story-section wf-section">
        <div class="wrapper about-story-up-wrapper">
            <div class="about-story-left">
                <h6 data-w-id="0aad7451-68f5-cd34-81c4-dd79a0837e88" class="subheading">Klare Vorteile</h6>
                <h2 data-w-id="7d3ff452-fba5-b8ce-48d2-06cdaab43c39">Mit einem flexiblen Arbeitsplatz steigt die Produktivität.</h2>
            </div>
            <div data-w-id="83c0f842-0353-1948-afc1-ebed08f4d0b7" class="about-story-right">
                <div class="about-story-text"><span class="bold-text-span">Collaboration</span> Die neue Arbeitswelt ist geprägt von Zusammenarbeit über Abteilungs- und Unternehmensgrenzen hinweg. Gemeinsam mit unseren Kunden schaffen wir einen digitalen Arbeitsplatz, der Zusammenarbeit und Kommunikation unterstützt. Das vereinfacht die Vernetzung und den Wissenstransfer und erleichtert auch die Digitalisierung von Prozessen und Arbeitsabläufen. Dadurch können Mitarbeiter produktiver arbeiten, zufriedener sein und ein stärkeres Zusammengehörigkeitsgefühl entwickeln.<br>‍<br><span class="bold-text-span"><strong>New Work Strategie</strong></span> Die Arbeitswelt verändert sich dramatisch. Wie können Unternehmen diesen Wandel gestalten – um Menschen entgegenzukommen und sich an der Unternehmenskultur auszurichten? Wir beraten umfassend zu kulturellen, organisatorischen, prozessualen und technischen Aspekten.<br><br><span class="bold-text-span"><strong>Modern Workplace</strong></span> Wir unterstützen unsere Kunden dabei, einen modernen Arbeitsplatz für ihre Mitarbeiter zu schaffen, der die Produktivität jedes einzelnen Mitarbeiters unterstützt und die Kommunikation und Zusammenarbeit im gesamten Unternehmen erleichtert. Wir unterstützen unsere Kunden auch in der IT und stellen die technische Grundlage sicher und effizient durch Microsoft 365 (ehemals Office 365) bereit.</div>
            </div>
        </div>
        <div class="wrapper about-grid">
            <div class="home-stats-grid">
                <div class="home-stats-grid-item">
                    <div class="stats-number-text-2">100%</div>
                    <div>Zufriedenheit.</div>
                </div>
                <div class="home-stats-grid-item middle">
                    <div class="stats-number-text-2">967+</div>
                    <div>Eingerichtete Arbeitsplätze</div>
                </div>
                <div class="home-stats-grid-item">
                    <div class="stats-number-text-2">3x</div>
                    <div>Mehr Produktivität.</div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-id="a10489dc-6f51-7234-453f-e0e7d21c941a" class="about-lightbox-section wf-section">
        <div class="wrapper _1920px"><img src="{{siteUrl}}assets/images/image_workplace4.jpg" loading="lazy" sizes="(max-width: 1439px) 100vw, (max-width: 1919px) 1440px, 100vw" srcset="{{siteUrl}}assets/images/image_workplace4-p-500.jpeg 500w, {{siteUrl}}assets/images/image_workplace4-p-800.jpeg 800w, {{siteUrl}}assets/images/image_workplace4-p-1080.jpeg 1080w, {{siteUrl}}assets/images/image_workplace4-p-1600.jpeg 1600w, {{siteUrl}}assets/images/image_workplace4-p-2000.jpeg 2000w, {{siteUrl}}assets/images/image_workplace4-p-2600.jpeg 2600w, {{siteUrl}}assets/images/image_workplace4.jpg 2880w" alt="" class="image"></div>
    </div>
    <div class="feature-4-section homepage-3 wf-section">
        <div class="wrapper feature-4-wrapper">
            <div class="feature-4-left">
                <h6 data-w-id="05a865cd-cf5d-5035-2aaa-0cc710294d1a" class="subheading">Cloud? Klar!</h6>
                <h2 data-w-id="05a865cd-cf5d-5035-2aaa-0cc710294d1c" class="h2-60-px">Mehr als gute Gründe.</h2>
                <div data-w-id="05a865cd-cf5d-5035-2aaa-0cc710294d1e" class="features-4-text">Die Herausforderung einer modernen Arbeitsumgebung spiegeln sich auch in der Wahl der passenden Softwarelösung wieder. Warum also nicht auf den Anbieter setzen, der universell und einfach in bestehende Prozesse integriert werden kann?</div>
            </div>
            <div class="pointer-grid">
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_devices.svg" loading="lazy" alt="" class="pointer-icon">
                    <div class="feature-text-download">Greifen Sie unterwegs auf Daten zu.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_safe.svg" loading="lazy" alt="" class="pointer-icon">
                    <div>Ihre Daten sind sicher.Sehr sicher.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_save.svg" loading="lazy" alt="" class="pointer-icon">
                    <div class="feature-text-download">Sparen Sie Betriebskosten unnötiger Infrastruktur.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_sync.svg" loading="lazy" alt="" class="pointer-icon">
                    <div>Immer und überall die neuesten Versionen.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_chat.svg" loading="lazy" alt="" class="pointer-icon">
                    <div>Jederzeit in Verbindung bleiben.</div>
                </div>
                <div class="pointer-grid-item"><img src="{{siteUrl}}assets/images/icon_person.svg" loading="lazy" alt="" class="pointer-icon">
                    <div>Unkompliziert und sicher Freigeben.</div>
                </div>
            </div>
        </div>
    </div>


    {% include('_/components/mostPopularsSection') %}

    {% include('_/components/ctaSection') %}

{% endblock %}
