<div class="perks-section wf-section">
  <div class="wrapper perks-wrapper">
    <div class="perks-inside-wrapper">
      <h6 data-w-id="88ac7574-edbe-9daa-000d-b50fdafb04dc" class="subheading">Vorteile</h6>
      <h2 data-w-id="88ac7574-edbe-9daa-000d-b50fdafb04de" class="perks-heading">Warum bei uns?</h2>
      <div data-w-id="88ac7574-edbe-9daa-000d-b50fdafb04e0">Wir sind ein junges Team in dem man unkompliziert und auf Augenhöhe kommuniziert.</div>
    </div>
    <div class="perks-items-container">
      <div class="perk-item">
        <img src="{{siteUrl}}assets/images/icon_remote.svg" loading="lazy" alt="" class="perk-icon" />
        <div class="_22-px">Remote-Work</div>
      </div>
      <div class="perk-item">
        <img src="{{siteUrl}}assets/images/icon_smile.svg" loading="lazy" alt="" class="perk-icon" />
        <div class="_22-px">30 Tage Urlaub</div>
      </div>
      <div class="perk-item">
        <img src="{{siteUrl}}assets/images/icon_hardware.svg" loading="lazy" alt="" class="perk-icon" />
        <div class="_22-px">Neueste Hardware</div>
      </div>
      <div class="perk-item">
        <img src="{{siteUrl}}assets/images/icon_coffee.svg" loading="lazy" alt="" class="perk-icon" />
        <div class="_22-px">Freie Zeiteinteilung</div>
      </div>
      <div class="perk-item">
        <img src="{{siteUrl}}assets/images/icon_bike.svg" loading="lazy" alt="" class="perk-icon" />
        <div class="_22-px">Fahrrad-Leasing</div>
      </div>
      <div class="perk-item">
        <img src="{{siteUrl}}assets/images/icon_money.svg" loading="lazy" alt="" class="perk-icon" />
        <div class="_22-px">Faire Bezahlung</div>
      </div>
      <div class="perk-item">
        <img src="{{siteUrl}}assets/images/icon_heart.svg" loading="lazy" alt="" class="perk-icon" />
        <div class="_22-px">120% Herzblut</div>
      </div>
      <div class="perk-item">
        <img src="{{siteUrl}}assets/images/icon_events.svg" loading="lazy" alt="" class="perk-icon" />
        <div class="_22-px">Team-Events</div>
      </div>
    </div>
  </div>
</div>
