{% extends './_/layout/extend/withBlueNav' %} 

{% block content %}

<div data-w-id="f539d0a7-7d12-e851-1d47-907eef6e4fe9" class="home-hero-section wf-section">
  <div class="wrapper home-hero-wrapper">
    <div class="home-hero-left">
      <h1
        data-w-id="d3a249d5-63eb-dc19-ac26-4a8ad2d08e66"
        style="
          -webkit-transform: translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        "
        class="display-heading home-hero-heading"
      >
        Cloud-Lösungen für erfolgreiche Unternehmen.
      </h1>
      <p
        data-w-id="0518f277-b448-23ae-cad1-5dd9c3ff799e"
        style="
          opacity: 0;
          -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        "
        class="para-large home-hero-para"
      >
        Wir steigern die Produktivität und verbessern die Zusammenarbeit in einer digitalen Welt.
      </p>
      <a
        data-w-id="2041918c-0ab4-302c-5ec9-78cb1d58d016"
        style="
          opacity: 0;
          -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        "
        href="unternehmen/beratung-workshop.html"
        class="button w-button"
        >Beratungsgespräch vereinbaren</a
      >
      <div
        data-w-id="e1a10a82-7496-18d6-11f6-276dc509e91f"
        style="
          opacity: 0;
          -webkit-transform: translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        "
        class="home-hero-pointers"
      >
        <div class="hero-pointer-item">
          <div class="hero-pointer-icon"><img src="{{ siteUrl }}assets/images/icon_microsoft.svg" loading="lazy" alt="" class="image contain" /></div>
          <div>Leistungsfähige Tools von Microsoft.</div>
        </div>
        <div class="hero-pointer-item">
          <div class="hero-pointer-icon"><img src="{{ siteUrl }}assets/images/icon_microsoft_teams1.svg" loading="lazy" alt="" class="image contain" /></div>
          <div>Alle zusammen an einem Ort.</div>
        </div>
      </div>
    </div>
    <div
      data-w-id="78258acc-e026-e295-8992-3edc2e847293"
      style="
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      "
      class="home-hero-images-container"
    >
      <div class="home-hero-main-image"><img src="{{ siteUrl }}assets/images/hero-image.png" loading="lazy" alt="" class="image contain" /></div>
      <div class="hero-floating-image-1">
        <img src="{{ siteUrl }}assets/images/hero_icons-.png" loading="lazy" srcset="images/hero_icons--p-500.png 500w, images/hero_icons-.png 669w" sizes="(max-width: 767px) 99vw, (max-width: 991px) 70vw, (max-width: 1439px) 42vw, 624.794921875px" alt="" class="image contain" />
      </div>
    </div>
    <div class="home-hero-circle-decoration-2"></div>
    <div data-w-id="2c844a56-a7de-8ceb-b1e6-7dedf82edc0a" style="opacity: 0" class="home-hero-bg-circle"></div>
  </div>
</div>
<div class="logos-wrapper">
  <h4>Über 1.200 Menschen vertrauen auf unsere Lösungen.</h4>
  <div class="logos-contain">
    <img src="{{ siteUrl }}assets/images/logo_munichre.svg" loading="lazy" alt="" class="logos-image" /><img src="{{ siteUrl }}assets/images/logo_vattenfall.svg" loading="lazy" alt="" class="logos-image" /><img
      src="{{ siteUrl }}assets/images/logo_krp.png"
      loading="lazy"
      alt=""
      class="logos-image"
    /><img src="{{ siteUrl }}assets/images/logo_blackspace.svg" loading="lazy" alt="" class="logos-image" /><img src="{{ siteUrl }}assets/images/logo_kama.png" loading="lazy" alt="" class="logos-image" /><img
      src="{{ siteUrl }}assets/images/logo_sanoro.png"
      loading="lazy"
      alt=""
      class="logos-image"
    />
  </div>
</div>
<div class="features-2-section wf-section">
  <div class="wrapper features-2-wrapper">
    <div class="home-features-2-up">
      <h6 class="home-features-subheading">Microsoft 365 &amp; teams</h6>
      <h2 data-w-id="86b9ff28-cb32-f345-582d-638267408621" class="white home-features-heading">Lösungen für das digitale Morgen.</h2>
      <div data-w-id="8afcb1d6-bc06-e66a-3501-43a012c96c0f" class="white">Wir begleiten Sie zu einer maßgeschneiderten Lösung.</div>
    </div>
    <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="home-features-tab w-tabs">
      <div class="home-features-tab-menu w-tab-menu">
        <a data-w-tab="Tab 1" class="home-feature-tab-link w-inline-block w-tab-link w--current">
          <div class="feature-tab-icon-and-heading">
            <div class="feature-tab-icon"><img loading="lazy" src="{{ siteUrl }}assets/images/icon_microsoft-w.svg" alt="" class="image contain" /></div>
            <h5 class="white">Microsoft 365</h5>
          </div>
          <div class="_16-px white">Mit leistungsstarken Apps auf allen Geräten können Sie sicher und produktiv arbeiten.</div>
        </a>
        <a data-w-tab="Tab 2" class="home-feature-tab-link middle w-inline-block w-tab-link">
          <div class="feature-tab-icon-and-heading">
            <div class="feature-tab-icon"><img loading="lazy" src="{{ siteUrl }}assets/images/icon_teams-w.svg" alt="" class="image contain" /></div>
            <h5 class="white">Microsoft Teams</h5>
          </div>
          <div class="_16-px white">Überall in Verbindung bleiben. An einem Ort Besprechungen halten, chatten, telefonieren und zusammenarbeiten.</div>
        </a>
        <a data-w-tab="Tab 3" class="home-feature-tab-link w-inline-block w-tab-link">
          <div class="feature-tab-icon-and-heading">
            <div class="feature-tab-icon"><img loading="lazy" src="{{ siteUrl }}assets/images/icon_workshop.svg" alt="" class="image contain" /></div>
            <h5 class="white">Consulting &amp; Workshops</h5>
          </div>
          <div class="_16-px white">Wir geben unser Bestes um Ihre Wettbewerbsfähigkeit zu steigern. Mit den Workshops machen wir Sie zur Nummer 1.</div>
        </a>
      </div>
      <div class="home-tabs-content w-tab-content">
        <div data-w-tab="Tab 1" class="home-feature-tab-pane w-tab-pane w--tab-active">
          <div class="home-features-tab-image">
            <img
              srcset="{{siteUrl}}assets/images/tab_mockup-1-p-500.png 500w, {{siteUrl}}assets/images/tab_mockup-1.png 734w"
              sizes="(max-width: 479px) 90vw, (max-width: 767px) 81vw, (max-width: 991px) 77vw, (max-width: 1439px) 51vw, 730px"
              src="{{ siteUrl }}assets/images/tab_mockup-1.png"
              loading="eager"
              alt=""
              class="image"
            />
          </div>
        </div>
        <div data-w-tab="Tab 2" class="home-feature-tab-pane w-tab-pane">
          <div class="home-features-tab-image">
            <img
              srcset="{{siteUrl}}assets/images/tab_mockup-1-p-500.png 500w, {{siteUrl}}assets/images/tab_mockup-1.png 734w"
              sizes="(max-width: 479px) 90vw, (max-width: 767px) 81vw, (max-width: 991px) 77vw, (max-width: 1439px) 51vw, 730px"
              src="{{ siteUrl }}assets/images/tab_mockup-1.png"
              loading="eager"
              alt=""
              class="image"
            />
          </div>
        </div>
        <div data-w-tab="Tab 3" class="home-feature-tab-pane w-tab-pane">
          <div class="home-features-tab-image">
            <img
              srcset="{{siteUrl}}assets/images/tab_mockup-1-p-500.png 500w, {{siteUrl}}assets/images/tab_mockup-1.png 734w"
              sizes="(max-width: 479px) 90vw, (max-width: 767px) 81vw, (max-width: 991px) 77vw, (max-width: 1439px) 51vw, 730px"
              src="{{ siteUrl }}assets/images/tab_mockup-1.png"
              loading="eager"
              alt=""
              class="image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="statistics-homepage-2 wf-section">
  <div class="wrapper about-story-up-wrapper">
    <div class="statistics-left-container">
      <h6 data-w-id="cbd4f79d-8a92-c007-9b8e-1175b6dcd219" class="subheading">ÜBER UNS</h6>
      <h2 data-w-id="cbd4f79d-8a92-c007-9b8e-1175b6dcd21b">Ihr Erfolg ist unser Ansporn. Ganz einfach.</h2>
    </div>
    <div data-w-id="cbd4f79d-8a92-c007-9b8e-1175b6dcd21d" class="about-story-right">
      <div class="statistics-right-text">
        <span class="bold-black-span">Kompetenz und Know-How: </span>Unsere Expertinnen und Experten geben täglich ihr bestes, um Ihnen den entscheidenden Wettbewerbsvorteil zu verschaffen.<br /><br />Die Kunden, die wir erfolgreich begleiten, profitieren von unserer Expertise. Von Local Hero bis
        Global Player.
      </div>
    </div>
  </div>
  <div class="wrapper about-grid">
    <div class="home-stats-grid">
      <div class="home-stats-grid-item">
        <div class="stats-number-text-2">100%</div>
        <div>Zufriedenheit.</div>
      </div>
      <div class="home-stats-grid-item middle">
        <div class="stats-number-text-2">750K €</div>
        <div>Betreutes Volumen.</div>
      </div>
      <div class="home-stats-grid-item">
        <div class="stats-number-text-2">3x</div>
        <div>Mehr Produktivität.</div>
      </div>
    </div>
  </div>
</div>
<div id="Features-1" class="home-featured-1-section wf-section">
  <div class="wrapper home-feature-1-wrapper homepage-3">
    <div data-w-id="7009da7f-901d-9016-b06a-816f03ddcf54" class="home-features-images-container">
      <div class="home-features-1-main-image"><img src="{{ siteUrl }}assets/images/feature_image.jpg" loading="lazy" alt="" class="image contain" /></div>
      <div class="features-1-floating _1"><img src="{{ siteUrl }}assets/images/feature_office.png" loading="lazy" alt="" class="image contain" /></div>
      <div class="features-1-floating _2"><img src="{{ siteUrl }}assets/images/feature_sharepoint.png" loading="lazy" alt="" class="image contain" /></div>
      <div class="features-1-floating _3"><img src="{{ siteUrl }}assets/images/feature_teams.png" loading="lazy" alt="" class="image contain" /></div>
    </div>
    <div class="home-feature-1-content">
      <h6 data-w-id="7009da7f-901d-9016-b06a-816f03ddcf5e" class="subheading">Modern Workplace Techstack</h6>
      <h2 data-w-id="7009da7f-901d-9016-b06a-816f03ddcf60" class="home-features-heading">Überall zusammen arbeiten.</h2>
      <div data-w-id="7009da7f-901d-9016-b06a-816f03ddcf62">Neue Herausforderungen und stetiger Wandel. Immer das beste für Zusammenarbeit und Kommunikation.</div>
      <div data-w-id="7009da7f-901d-9016-b06a-816f03ddcf64" class="home-features-pointers-wrapper">
        <div class="home-features-pointer-item">
          <div class="home-features-pointer-icon"><img src="{{ siteUrl }}assets/images/Group-11.svg" loading="lazy" alt="" class="image contain" /></div>
          <div><span class="bold-text-span">Produktiv</span> Mit den Tools von Microsoft 365 arbeiten Sie gemeinsam mit ihren Mitarbeiter:innen produktiv an Projekten.</div>
        </div>
        <div class="home-features-pointer-item">
          <div class="home-features-pointer-icon"><img src="{{ siteUrl }}assets/images/Group-11.svg" loading="lazy" alt="" class="image contain" /></div>
          <div><span class="bold-text-span">Unabhängig</span> Der Arbeitsplatz von heute ist nicht mehr nur der Schreibtisch im Büro. Überall Zugriff auf die wichtigsten Ressourcen.</div>
        </div>
      </div>
      <a data-w-id="7009da7f-901d-9016-b06a-816f03ddcf73" href="modern-workplace.html" target="_blank" class="features-learn-more-link-2 w-inline-block">
        <div>Mehr dazu</div>
        <img src="{{ siteUrl }}assets/images/Group-9.svg" loading="lazy" alt="" class="featured-learn-more-arrow" />
        <div class="features-learn-more-link-line-2"></div>
      </a>
    </div>
  </div>
</div>
<div class="features-2-section wf-section">
  <div class="wrapper features-2-wrapper">
    <div class="home-features-2-up">
      <h6 class="home-features-subheading">Kundenstimmen</h6>
      <h2 data-w-id="0af007c7-43f2-f1b3-439f-bac072ef7bd6" class="white home-features-heading">Wir geben unser Bestes.</h2>
      <div data-w-id="0af007c7-43f2-f1b3-439f-bac072ef7bd8" class="white">Gemeinsam haben wir die Wettbewerbsfähigkeit unserer Kunden gesteigert und erfolgreich in die digitale Welt transformiert.</div>
    </div>
    <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="mask w-slider-mask">
        <div class="testimonial-slide w-slide">
          <div class="testimonial-slide-contain">
            <img src="{{ siteUrl }}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image" />
            <h4 class="testimonial-title">So geht Zusammenarbeit heute.</h4>
            <div class="testimonial-text">“Mit der cloud4success GmbH haben wir einen kompetenten Partner an unserer Seite, der uns hervorragend unterstützt.”</div>
            <div class="testimonial-info-contain">
              <img src="{{ siteUrl }}assets/images/image_testimonial.png" loading="lazy" alt="" class="testimonial-images" />
              <div class="testimonial-about">
                <h5 class="testimonial-name">Alexander Neubert</h5>
                <div class="testimonial-position">Geschäftsführer blackspace GbR</div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-slide w-slide">
          <div class="testimonial-slide-contain">
            <img src="{{ siteUrl }}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image" />
            <h4 class="testimonial-title">Zusammenarbeit auf einem neuen Level!</h4>
            <div class="testimonial-text">“Mit der Einführung von Microsoft Teams Rooms hat uns die cloud4success GmbH als exzellenter Partner in allen Bereichen unterstützt und befähigt uns nun noch besser &amp; individueller mit unseren Mandanten in Kontakt zu treten.”</div>
            <div class="testimonial-info-contain">
              <img src="{{ siteUrl }}assets/images/simon_ruckdeschel.png" loading="lazy" alt="" class="testimonial-images" />
              <div class="testimonial-about">
                <h5 class="testimonial-name">Simon Ruckdeschel</h5>
                <div class="testimonial-position">Geschäftsführer KRP GmbH &amp; Co.KG</div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-slide w-slide">
          <div class="testimonial-slide-contain">
            <img src="{{ siteUrl }}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image" />
            <h4 class="testimonial-title">Zeit für das Wesentliche.</h4>
            <div class="testimonial-text">“Medienbrüche sind lästig! Die cloud4success GmbH als kompetenter Partner an unserer Seite ermöglichte es uns Arbeitsabläufe zu automatisieren und somit Fehlerquellen zu minimieren.”</div>
            <div class="testimonial-info-contain">
              <img src="{{ siteUrl }}assets/images/detlev-beaa.png" loading="lazy" alt="" class="testimonial-images" />
              <div class="testimonial-about">
                <h5 class="testimonial-name">Detlev Beaa</h5>
                <div class="testimonial-position">Geschäftsführer Sanoro Tierbedarf GmbH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-slide w-slide">
          <div class="testimonial-slide-contain">
            <img src="{{ siteUrl }}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image" />
            <h4 class="testimonial-title">Globale Zusammenarbeit at its best.</h4>
            <div class="testimonial-text">“Zum weiteren Ausbau unserer globalen Teams Enterprise Voice Infrastruktur, sowohl Software- als auch Hardwareseitig wissen wir die cloud4success GmbH als kompetenten Partner sehr zu schätzen!”</div>
            <div class="testimonial-info-contain">
              <img src="{{ siteUrl }}assets/images/ralph-klingler.png" loading="lazy" alt="" class="testimonial-images" />
              <div class="testimonial-about">
                <h5 class="testimonial-name">Ralph Klinger</h5>
                <div class="testimonial-position">Team Lead Enterprise Voice Munich Re Münchener Rückversicherungs-Gesellschaft</div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-slide w-slide">
          <div class="testimonial-slide-contain">
            <img src="{{ siteUrl }}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image" />
            <h4 class="testimonial-title">Alte Strukturen aufbrechen, um neue Möglichkeiten zu schaffen!</h4>
            <div class="testimonial-text">
              “Die cloud4success GmbH unterstützt uns als starken Partner bei der Transition von der herkömmlichen TK-Anlage komplett zu Microsoft Teams als Enterprise Voice Lösung. Ganz besonders schätzen wir hier die Automatisierungs-Kompetenz der cloud4success GmbH.”
            </div>
            <div class="testimonial-info-contain">
              <img src="{{ siteUrl }}assets/images/michaela-fenger.png" loading="lazy" alt="" class="testimonial-images" />
              <div class="testimonial-about">
                <h5 class="testimonial-name">Michaela Fenger</h5>
                <div class="testimonial-position">Head of Active Directory &amp; Collaboration bei Vattenfall Europe Information Services GmbH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-slide w-slide">
          <div class="testimonial-slide-contain">
            <img src="{{ siteUrl }}assets/images/icon_stars.svg" loading="lazy" alt="" class="stars-image" />
            <h4 class="testimonial-title">Starke IT-Betreuung, die ihresgleichen sucht.</h4>
            <div class="testimonial-text">“Mit der cloud4success GmbH haben wir einen kompetenten Partner, welcher uns in jeglicher Belange eines Mittelständisches im Maschinenbau unterstützt.”</div>
            <div class="testimonial-info-contain">
              <img src="{{ siteUrl }}assets/images/stefan-magdt.png" loading="lazy" alt="" class="testimonial-images" />
              <div class="testimonial-about">
                <h5 class="testimonial-name">Stefan Magdt</h5>
                <div class="testimonial-position">Geschäftsführer kama Maschinenbau GmbH</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-left w-slider-arrow-left"></div>
      <div class="testimonial-right w-slider-arrow-right"></div>
      <div class="slide-nav-2 w-slider-nav w-round"></div>
    </div>
  </div>
</div>
<div class="home-blog-section wf-section">
  <div class="wrapper home-blog-wrapper">
    <div class="home-blog-heading-and-button">
      <div class="blog-heading-and-subheading">
        <h6 data-w-id="bbae8966-bbfd-fd68-d8f3-b44eff46fc68" class="blog-subheading">blog</h6>
        <h2 data-w-id="bbae8966-bbfd-fd68-d8f3-b44eff46fc6a" class="home-blog-heading h2-60-px">Neuigkeiten und Einblicke.</h2>
      </div>
      <a data-w-id="bbae8966-bbfd-fd68-d8f3-b44eff46fc6c" href="blog.html" class="button w-button">Mehr Einträge lesen</a>
    </div>
    <div data-w-id="bbae8966-bbfd-fd68-d8f3-b44eff46fc6e" class="home-blogs-container">
      <div id="w-node-_33767e7c-ac5d-52b3-d8f1-a88765e6ccf0-ff46fc64" class="featured-main-collection-wrapper">
        <div class="featured-main-collection-item">
          <a href="#" class="featured-main-item w-inline-block">
            <div class="featured-main-image">
              <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image" />
              <div class="overlay"></div>
            </div>
            <div class="featured-author">
              <div class="featured-author-image"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image" /></div>
              <h5 class="white">Author</h5>
            </div>
            <div class="feature-down">
              <div class="featured-category">Category</div>
              <h4 class="white">Headline</h4>
              <div class="featrued-date-and-time">
                <div class="white">Date</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div id="w-node-_7b66eca4-c8cb-d3c8-1163-fb37ba6d021e-ff46fc64" class="featured-collection-wrapper">
        <div class="feature-collection-list _2">
          <div class="feature-collection-item">
            <a href="#" class="feature-item w-inline-block">
              <div class="feature-image">
                <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image" />
                <div class="overlay"></div>
              </div>
              <div class="featured-author">
                <div class="featured-author-image"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image" /></div>
                <h5 class="white">Author</h5>
              </div>
              <div class="feature-down">
                <div class="featured-category">Category</div>
                <h4 class="white">Headline</h4>
                <div class="featrued-date-and-time">
                  <div class="white">Date</div>
                </div>
              </div>
            </a>
          </div>
          <div class="feature-collection-item">
            <a href="#" class="feature-item w-inline-block">
              <div class="feature-image">
                <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image" />
                <div class="overlay"></div>
              </div>
              <div class="featured-author">
                <div class="featured-author-image"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image" /></div>
                <h5 class="white">Author</h5>
              </div>
              <div class="feature-down">
                <div class="featured-category">Category</div>
                <h4 class="white">Headline</h4>
                <div class="featrued-date-and-time">
                  <div class="white">Date</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-w-id="e24198af-e58a-7a89-eea7-c161b2413bdd" class="cta-section wf-section">
  <div class="wrapper cta-wrapper">
    <h2 class="white cta-heading">Jetzt Beratungsgespräch vereinbaren.</h2>
    <div class="cta-text">Wir beraten Sie gerne.</div>
    <a data-w-id="f9006a9b-848a-7c05-659e-8b1938604dce" href="unternehmen/beratung-workshop.html" class="button cta-button margintop w-button">Termin aussuchen</a>
    <div class="cta-pointers-container">
      <div class="cta-pointer-item first">
        <img src="{{ siteUrl }}assets/images/Group-24.svg" loading="lazy" alt="" class="cta-pointer-checkmark" />
        <div class="white">Unverbindlich</div>
      </div>
      <div class="cta-pointer-item">
        <img src="{{ siteUrl }}assets/images/Group-24.svg" loading="lazy" alt="" class="cta-pointer-checkmark" />
        <div class="white">Kostenfrei</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
